import kotlin.math.*
import kotlin.random.Random
import kotlinx.browser.*
import org.w3c.dom.*
import org.w3c.dom.url.*
import org.khronos.webgl.*
import org.jetbrains.letsPlot.*
import org.jetbrains.letsPlot.themes.*
import org.jetbrains.letsPlot.geom.*
import org.jetbrains.letsPlot.stat.*
import org.jetbrains.letsPlot.intern.*
import org.jetbrains.letsPlot.frontend.JsFrontendUtil
import org.jetbrains.letsPlot.core.util.*

{{ content }}

fun Float.roundTo(digits: Int): String {
    val whole = truncate(this)
    val prefix = whole.toString()
    if (prefix.length >= digits) return prefix
    val exp = 10.0.pow(digits - prefix.length)
    val r = this * exp
    return (round(r) / exp).toString()
}
