import kotlin.math.*
import kotlin.random.Random
import kotlinx.browser.*
import org.w3c.dom.*
import org.jetbrains.letsPlot.*
import org.jetbrains.letsPlot.themes.*
import org.jetbrains.letsPlot.geom.*
import org.jetbrains.letsPlot.stat.*
import org.jetbrains.letsPlot.intern.*
import org.jetbrains.letsPlot.frontend.JsFrontendUtil
import org.jetbrains.letsPlot.core.util.*

{{ content }}
