fun init_{{ id }}() {
    try {
        val containerEl = document.getElementById("container-{{ id }}") as HTMLDivElement?
        val controlsEl = document.getElementById("controls-{{ id }}") as HTMLDivElement?
        val canvasEl = document.getElementById("canvas-{{ id }}") as HTMLDivElement?
        val outputEl = document.getElementById("output-{{ id }}") as HTMLElement?
        val outputWrapperEl = document.getElementById("output-wrapper-{{ id }}") as HTMLElement?
        val plotEl = document.getElementById("plot-{{ id }}") as HTMLDivElement?
        val plotLightEl = document.getElementById("plot-{{ id }}-light") as HTMLDivElement?
        val plotDarkEl = document.getElementById("plot-{{ id }}-dark") as HTMLDivElement?

        fun intSlider(label: String, range: IntRange, default: Int = range.start): () -> Int {
            val key = "input-{{ id }}-${label.replace(' ', '-')}"
            if (!did_{{ id }}_init) {
                val newDiv = document.createElement("div")
                newDiv.classList.add("input-group")

                newDiv.appendChild(document.createElement("div").apply {
                    classList.add("input-group-prepend")
                    appendChild((document.createElement("label") as HTMLLabelElement).apply {
                        classList.add("input-group-text")
                        htmlFor = key
                        innerText = label
                    })
                })

                val valueSpan = (document.createElement("span") as HTMLSpanElement).apply {
                    classList.add("input-group-text")
                    innerText = "= ${default}"
                }

                val input = (document.createElement("input") as HTMLInputElement).apply {
                    classList.add("form-control")
                    id = key
                    type = "range"
                    value = default.toString()
                    min = range.start.toString()
                    max = range.endInclusive.toString()
                    onmouseup= { init_{{ id }}() }
                }
                input.oninput = { valueSpan.innerText = "= ${input.value}" }


                newDiv.appendChild(input)

                newDiv.appendChild(document.createElement("div").apply {
                    classList.add("input-group-append")
                    appendChild(valueSpan)
                })
                controlsEl!!.appendChild(document.createElement("div").apply {
                    classList.add("form-group")
                    appendChild(newDiv)
                })
            }

            val el = (document.getElementById(key) as HTMLInputElement)
            return { el.value.toInt() }
        }

        fun floatSlider(label: String, range: ClosedFloatingPointRange<Float>, default: Float = range.start): () -> Float {
            val key = "input-{{ id }}-${label.replace(' ', '-')}"
            if (!did_{{ id }}_init) {
                val newDiv = document.createElement("div")
                newDiv.classList.add("input-group")

                newDiv.appendChild(document.createElement("div").apply {
                    classList.add("input-group-prepend")
                    appendChild((document.createElement("label") as HTMLLabelElement).apply {
                        classList.add("input-group-text")
                        innerText = label
                        htmlFor = key
                    })
                })

                val valueSpan = (document.createElement("span") as HTMLSpanElement).apply {
                    classList.add("input-group-text")
                    innerText = "= ${default.roundTo(4)}"
                }

                val input = (document.createElement("input") as HTMLInputElement).apply {
                    classList.add("form-control")
                    id = key
                    type = "range"
                    step = "any"
                    min = range.start.toString()
                    max = range.endInclusive.toString()
                    value = default.toString()
                    onmouseup= { init_{{ id }}() }
                }
                input.oninput = { valueSpan.innerText = "= ${input.value.toFloat().roundTo(4)}" }

                newDiv.appendChild(input)

                newDiv.appendChild(document.createElement("div").apply {
                    classList.add("input-group-append")
                    appendChild(valueSpan)
                })
                controlsEl!!.appendChild(document.createElement("div").apply {
                    classList.add("form-group")
                    appendChild(newDiv)
                })
            }

            val el = (document.getElementById(key) as HTMLInputElement)
            return { el.value.toFloat() }
        }

        fun imageInput(label: String, default: String? = null /* URL to image */): () -> ImageData {
            val key = "input-{{ id }}-${label.replace(' ', '-')}"
            val canvasKey = "input-canvas-{{ id }}-${label.replace(' ', '-')}"
            if (!did_{{ id }}_init) {
                val newDiv = document.createElement("div") as HTMLDivElement
                newDiv.classList.add("custom-file")

                val input = (document.createElement("input") as HTMLInputElement).apply {
                    type = "file"
                    id = key
                    accept=".jpg,.jpeg,.png,.webp"
                }
                newDiv.appendChild(input)
                newDiv.appendChild((document.createElement("label") as HTMLLabelElement).apply {
                    htmlFor = key
                    innerText = "Select $label"
                })
                val canvas = (document.createElement("canvas") as HTMLCanvasElement).apply {
                    classList.add("input-canvas")
                    classList.add("kt-canvas-display")
                    id = canvasKey
                    width = 1
                    height = 1
                }

                fun updateCanvas(source: String) {
                    val img = Image()
                    img.onload = {
                        val ctx = canvas.getContext("2d") as CanvasRenderingContext2D
                        canvas.width = img.width
                        canvas.height = img.height
                        ctx.drawImage(img, 0.0, 0.0)
                        init_{{ id }}()
                    }
                    img.src = source
                }

                input.addEventListener("change", {
                    val file = input.files?.item(0)
                    if (file != null) {
                        val url = URL.createObjectURL(file)
                        updateCanvas(url)
                    } else {
                        if (default != null) {
                            updateCanvas(default)
                        } else {
                            val ctx = canvas.getContext("2d") as CanvasRenderingContext2D
                            canvas.width = 1
                            canvas.height = 1
                            ctx.clearRect(0.0, 0.0, 1.0, 1.0)
                        }
                    }
                })

                if (default != null) {
                    updateCanvas(default)
                }

                controlsEl!!.appendChild((document.createElement("div") as HTMLDivElement).apply {
                    classList.add("form-group")
                    classList.add("kt-image-input-container")
                    appendChild(newDiv)
                    appendChild(canvas)
                })
            }

            val el = (document.getElementById(canvasKey) as HTMLCanvasElement)
            return {
                val ctx = el.getContext("2d") as CanvasRenderingContext2D
                ctx.getImageData(0.0, 0.0, el.width.toDouble(), el.height.toDouble())
            }
        }

        fun output(text: String, withLF: Boolean = true) {
            if (outputEl == null || outputWrapperEl == null) return;
            outputWrapperEl.classList.remove("d-none")

            outputEl.innerText = outputEl.innerText + text
            if (withLF) {
                outputEl.innerText = outputEl.innerText + '\n'
            }
        }

        fun plot(
            lightTheme: OptionsMap = themeMinimal2(),
            darkTheme: OptionsMap = flavorDarcula(),
            block: () -> Plot
        ) {
            if (plotEl == null || plotLightEl == null || plotDarkEl == null) return
            var fig = block()

            plotLightEl.innerHTML = PlotHtmlExport.buildHtmlFromRawSpecs(
                plotSpec = (fig + lightTheme).toSpec(),
                scriptUrl = PlotHtmlHelper.scriptUrl(version="4.8.2"),
                iFrame = true
            )
            plotDarkEl.innerHTML = PlotHtmlExport.buildHtmlFromRawSpecs(
                plotSpec = (fig + darkTheme).toSpec(),
                scriptUrl = PlotHtmlHelper.scriptUrl(version="4.8.2"),
                iFrame = true
            )

            plotEl.classList.remove("d-none")
        }

        fun canvas(data: ImageData) {
            if (canvasEl == null) return
            canvasEl.classList.remove("d-none")

            val canvas = document.createElement("canvas") as HTMLCanvasElement
            canvas.classList.add("kt-canvas-display")
            canvas.width = data.width
            canvas.height = data.height
            val ctx = canvas.getContext("2d") as CanvasRenderingContext2D
            ctx.putImageData(data, 0.0, 0.0)
            canvasEl.appendChild(canvas)
        }

        if (outputEl != null) {
            outputEl.innerText = ""
        }
        if (canvasEl != null) {
            canvasEl.innerHTML = ""
        }

        {{ content }}
    } catch (e: Throwable) {
        console.error("Error in snippet {{ id }}:", e)
    }

    did_{{ id }}_init = true
}

var did_{{ id }}_init = false
