:root {
    --collapse-content-padding: 0;
}

.dark-mode .light-only {
    display: none;
}

.dark-only {
    display: none;
}

.dark-mode .dark-only {
    display: initial;
}

.kt-output-container {
    margin: 1rem;
}

.kt-source .collapse-content {
    display: -webkit-box;
}

.highlight {
    width: -webkit-fill-available;
    overflow: auto;
}

.highlight code {
    display: block;
    padding: 1rem;
}

.summary-nav {
    position: fixed;
    margin-right: 2rem;
    z-index: 20;
    padding: 0.5rem;
    border-radius: 0.4rem;
}

.summary-nav .title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.summary-nav a {
    text-align: left;
    display: block;
    padding: 0.4rem 0 0.4rem 2rem;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.7);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.dark-mode .summary-nav a {
    color: rgba(255, 255, 255, 0.65);
    border-color: rgba(255, 255, 255, 0.15);
}

.with-footer {
    display: flex;
    flex-direction: column;
}

.with-footer > div {
    flex: 1;
}

.with-footer .footer {
    flex: 0;
}

.kt-rerun {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.sidebar-folder {
    margin-left: 2rem;
    border-left: 1px solid rgba(255, 255, 255, 0.15);
}

.footer {
    background-color: var(--lm-navbar-bg-color);
    border-top: var(--navbar-border-width) solid var(--lm-navbar-border-color);
}

.dark-mode .footer {
    background-color: var(--dm-navbar-bg-color);
    border-top: var(--navbar-border-width) solid var(--dm-navbar-border-color);
}

.linenodiv {
    margin-left: 0.5rem;
}
